re
nltk
rouge
torch
pandas
gradio
sklearn
openpyxl
pyarabic
datasets
langchain
matplotlib
transformers
qdrant_client
python-dotenv
huggingface_hub
transformers[torch]
sentence-transformers
langchain_google_genai